* {
    margin: 0px;
}

html,
body {
    height: 100%;
    margin: 0;
}

.conatiner {
    background-color: rgb(86, 129, 81);
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.container2 {
    height: 350px;
    width: 600px;
    display: flex;
    background-color: goldenrod;
    justify-content: space-between;
    padding: 30px;
}

.field1 {
    display: grid;
    height: 350px;
    width: 200px;
}

#Größe {
    font-size: 20pt;
}

#Gewicht {
    font-size: 20pt;
}

#Ausgabewehrt {
    font-size: 20pt;
    width: 200px;
    height: 100%;
    background-color: white;
}

#button {
    margin-top: 50px;
    background-color: brown;
    font-size: 20pt;
    color: white;
}